<!DOCTYPE html >
<html lang="en">
<!--- $Header: //depot/cs/templates/support/product_manage.html#41 $ --->
<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Manage Products</title>

<link type="text/css" href="{{ jquery_ui_css }}" rel="stylesheet" />
<link type="text/css" href="/css/support.css" rel="stylesheet" />
<link type="text/css" href="/css/fileupload.css" rel="stylesheet" />

<script type="text/javascript" src="{{ jquery }}"></script>
<script type="text/javascript" src="{{ jquery_ui }}"></script>
<script type="text/javascript" src="{{ jquery_json }}"></script>
<script type="text/javascript" src="/js/jsrender.js"></script>
<script type="text/javascript" src="/js/Dialogs.js"></script>
<script type="text/javascript" src="/js/FileUpload.js"></script>
<script type="text/javascript" src="/js/Utility.js"></script>
<script type="text/javascript" src="/js/fu/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/js/fu/jquery.fileupload.js"></script>

<style>
.thumb {
    float: left;
    height: 186px;
    margin: 10px;
    position: relative;
    width: 190px;
    text-align: center;
}
</style>

{% raw %}
<script id="product_tmpl" type="text/x-jsrender">
  <div id="product-{{:product_id}}" data-product_id="{{:product_id}}" style="display: table-row; text-align:left;">
    {{if is_available != 0}}
      <div style="display: table-cell; width: 450px; padding: 5px 0px;">
        &nbsp;&nbsp;{{>name}}
        {{for product_designs}}
        {{/for}}
      </div>
    {{else}}
      <div style="display: table-cell; width: 450px; padding: 5px 0px; color: #f00;">&nbsp;&nbsp;{{>name}}</div>
    {{/if}}
    <div style="display: table-cell; width: 250px; padding: 5px 0px;">
    {{for product_pricing}}
      &nbsp;&nbsp;
      {{if max_quantity > 0}}
	{{:min_quantity}} - {{:max_quantity}}
      {{else}}
	{{:min_quantity}}+
      {{/if}}
      : {{currency:price}}
      {{if sale_price > 0}}
	/ {{currency:sale_price}}
      {{/if}}
      <br />
    {{/for}}
    </div>
    <div class="edit clickable" style="display: table-cell; text-align:center; width: 35px;"><small>edit</small></div>
    <div class="view clickable" style="display: table-cell; text-align:center; width: 35px;"><small>view</small></div>
  </div>
</script>

<script id="p_thumb_tmpl" type="text/x-jsrender">
  <div class="thumb">
    <img src="/{{>icon_afile}}">
    {{orientation:orientation_id}}
  </div>
</script>

<script id="p_price_tmpl" type="text/x-jsrender">
  <div class="pricing_row" style="display: table-row; text-align:left;">
    <div style="display: table-cell; width: 250px; padding: 5px 0px;">
      <input type="text" class="p_min_quantity" size="50" value="{{:min_quantity}}" class="text ui-widget-content ui-corner-all" />
    </div>
    <div style="display: table-cell; width: 250px; padding: 5px 0px;">
      <input type="text" class="p_price" size="50" value="{{fixed2:price}}" class="text ui-widget-content ui-corner-all" />
    </div>
    <div style="display: table-cell; width: 250px; padding: 5px 0px;">
      <input type="text" class="p_sale_price" size="50" value="{{fixed2:sale_price}}" class="text ui-widget-content ui-corner-all" />
    </div>
    <div style="display: table-cell; text-align:center; width: 30px;"><img class="delete clickable" title="Delete Price" src="/i/red_x_small.png"></div>
  </div>
</script>

{% endraw %}

<script type="text/javascript">

$.views.converters({
  currency: function(value) {
    return "$ " + value.toFixed(2);
  },
  fixed2: function(value) {
    return value.toFixed(2);
  },
  orientation: function(orientation_id) {
    return orientations[orientation_id].name;
  }
});

var products_dict = new Object();
var products = {{ products }};
var labs = {{ labs }};
var orientations = {{ orientations }};
var lab_products = {{ lab_products }};

function ping() {
  DPAjax(
    "/s/ajax",
    { command: 'ping' },
    function (data) {},         // do nothing if successful
    function (data) {
      if (data.unavailable)
        jError(data.Error);
      else if (data.Error)
        window.location.replace('/s/login');
    }
  );
}

function product_update(args) {
  args.command = 'edit_product';
  DPAjax(
    "/s/ajax_product",
    args,
    function (data) {
      product_id = data.product.product_id;
      products_dict[product_id] = data.product;
      $("#product-" + product_id).replaceWith($('#product_tmpl').render(data.product));
      document.body.style.cursor = 'auto';
    }
  );
};

function product_view(product_id) {
  var args = {
    command: 'view_product',
    product_id: product_id
  };
  DPAjax(
    "/s/ajax_product",
    args,
    function (data) {
      var product = products_dict[product_id];
      var lab_product = lab_products[products_dict[product_id].lab_product_id];
      $("#view_dialog").html(data.product_dump);
      $("#dialog-view").dialog("open");
      document.body.style.cursor = 'auto';
    }
  );
};

function dialog_submit(dialog) {
  var name = $('#p_name').val();
  var promo_category_id = $('#p_promo_category_id').val();
  var prices = [];
  $('.pricing_row').each(function() {
    var min_quantity = $(this).find('.p_min_quantity').val();
    var price = $(this).find('.p_price').val();
    var sale_price = $(this).find('.p_sale_price').val();
    if (min_quantity > 0)
      prices.push( { 'min_quantity': min_quantity, 'price': price, 'sale_price': sale_price });
  });

  if (prices.length == 0) {
    jError("Error: Please provide at least one price for this product.");
    return;
  }
  var is_available = ($("#p_is_available").is(':checked') ? 1 : 0);
  var product_id = $("#dialog-form-edit").data('product_id');
  var args = {
    product_id: product_id,
    name: name,
    promo_category_id: promo_category_id,
    product_prices: prices,
    is_available: is_available
  };
  product_update(args);
  $(dialog).dialog("close");
};

message = "Do not attempt to add new products using this script.<br />" +
          "Never change a product_id (column 1).<br />" +
          "You may delete rows that you are not changing.<br />" +
          "To disable a product, change is_available to '0'.<br />" +
	  'CSV only supports up to {{CSVPRICECOUNT}} prices.  See engineering if you need more.<br />' +
	  'Use min_quantity of 0 to remove a product price.<br />' +
	  'At least one product price is always required (with min_quantity of 1).<br />' +
	  '<br />';

$(document).ready( function() {
  ping();
  $("#csv_download").on('click', function () { 
    jAlert(message, "Download Instructions", function () { window.location = "/s/product_csv"; });
  })
  $(document).on('click', ".view", function() {
    var product_id = $(this).parent('div').attr('data-product_id');
    product_view(product_id);
  });
  $(document).on('click', ".edit", function() {
    var product_id = $(this).parent('div').attr('data-product_id');
    var product = products_dict[product_id];
    var lab_product = lab_products[products_dict[product_id].lab_product_id];
    var product_quantity = lab_product.quantity_base + "/" + lab_product.quantity_incr;

    $('#p_lab').html(labs[lab_product.lab_id].name);
    $('#p_lab_product_name').html(lab_product.name);
    $('#p_product_quantities').html(product_quantity);

    $('#p_name').val(product.name);
    $('#p_promo_category_id').val(product.promo_category_id);

    $('.pricing_row').remove();
    $('#price_header').after($('#p_price_tmpl').render(product.product_pricing));
    if (product.is_available != 0)
      $("#p_is_available").prop('checked', true);
    else
      $("#p_is_available").prop('checked', false);

    $('#p_thumbs').html('');
    //$.each(product.product_designs, function (i, product_design) {
    //  $('#p_thumbs').append($('#p_thumb_tmpl').render(product_design));
    //});

    $("#dialog-form-edit").data('product_id', product_id);
    $("#dialog-form-edit").dialog("open");
  });

  $("#dialog-form-edit").dialog({
			autoOpen: false,
			height: 'auto',
			width: 1000,
			modal: true,
			buttons: {
				Save: function() {
				  dialog_submit(this);
				},
				Cancel: function() {
					$(this).dialog("close");
				}
			}
  });

  $("#dialog-view").dialog({
			autoOpen: false,
			height: 'auto',
			width: 1000,
			modal: true,
			buttons: {
                            Cancel: function() {
                                    $(this).dialog("close");
                            }
			}
  });

  document.body.style.cursor = 'wait';
  $.each(products, function (i, product) {
    products_dict[product.product_id] = product;
    $("#product_list").append($('#product_tmpl').render(product));
  });
  document.body.style.cursor = 'auto';

  $("#done").button();
  $("#csv_download").button();
  $("#plus").button();
  $(document).on('click', "#plus", function() {
    $('#plus').parent().parent().before($('#p_price_tmpl').render({ min_quantity: "", price: 0.00, sale_price: 0.00 }));
    return false;
  });
  $(document).on('click', ".delete", function() {
    $(this).closest('.pricing_row').remove();
  });
  $("#upload-button").button();
  $("#upload-button").fileuploader({
    title: "Upload Product CSV File",
    url: '/s/ajax_product',
    message: 'Only use a CSV file download via this page.<br />' +
             'Header will be ignored if included in the file.<br />' +
             'Do not attempt to add products using this script.<br />' +
             'Unchanged product rows may be removed from the script, if desired.<br />' +
	     'CSV only supports up to {{CSVPRICECOUNT}} prices.  See engineering if you need more.<br />' +
	     'Use min_quantity of 0 to remove a product price.<br />' +
	     'At least one product price is always required (with min_quantity of 1).<br />' +
             '<br />',
    pre_show: function(element) {
      // Ping test here
      return true;
    },
    done: function (e, element, result) {
      $.each(result.products, function (i, product) {
        product_id = product.product_id;
        products_dict[product_id] = product;
        $("#product-" + product_id).replaceWith($('#product_tmpl').render(product));
      });
    }
  });
  $(window).unload(function() {});
});


</script>
</head>

<body>

<div class="logo-header">
	<div class="support">SUPPORT</div>
	<img src="/i/support/logo.png" class="logo">
</div><!--end logo-header-->

<div class="content">

<div class="content-header">
	<div class="content-header-h1">Manage Products</div>
    <div class="content-header-btn"><input type="button" id="done" value="Back" onClick="history.back();return false;" /></div>
</div>

<div align="center">
	<button id="csv_download"> Download CSV file</button>
    <button id="upload-button">Upload CSV file</button>
</div>


      <table width="875" border="0" cellspacing="0" cellpadding="3" style="text-align:left;" align="center">
        <tr>
          <td style="border:1px dotted #dcdcdd;padding:10px;">
            <div class="ui-widget-header">
              <div style="display: table-row; text-align:left; height: 25px;">			
                <div style="display: table-cell; width: 450px; padding: 5px 0px;">&nbsp;&nbsp;Product</div>
                <div style="display: table-cell; width: 250px; padding: 5px 0px;">&nbsp;&nbsp;Price/Sale</div>
                <div style="display: table-cell; text-align:center; width: 35px;"></div>
                <div style="display: table-cell; text-align:center; width: 35px;"></div>
              </div>
            </div>
            <div id="product_list" class="ui-widget-content"></div>
          </td>
        </tr>
      </table>
      <br /><br />
    </td>
  </tr>
</table>


<div id="dialog-form-edit" title="Edit Product" style="display: none;">
  <form id="product_dialog">
    <label for="p_lab">Lab: </label><span id="p_lab"></span><br />
    <label for="p_lab_product_name">Lab Product Name: </label><span id="p_lab_product_name"></span><br />
    <label for="p_product_quantity">Product Quantities (base/incr): </label><span id="p_product_quantities"></span><br /><br />
    <div class="p_label"><label for="p_name">Name:</label></div>
    <input type="text" name="p_name" id="p_name" size="50" value="" class="text ui-widget-content ui-corner-all" /><br />
    <div class="pr_label"><label for="p_promo_category_id">Promo Category:</label></div>
    <select id="p_promo_category_id">
      <option value="">None
      {% for promo_category in promo_categories %}
        <option value="{{ promo_category.promo_category_id }}">{{ promo_category.name|e}}
      {% endfor %}
    </select><br /><br />
    <fieldset
      <legend>Prices:</legend>
	<div id="price_table" class="ui-widget-content">
	  <div id="price_header" style="display: table-row; text-align:left;">
	    <div style="display: table-cell; width: 250px; padding: 5px 0px;">&nbsp;&nbsp;Min Quantity</div>
	    <div style="display: table-cell; width: 250px; padding: 5px 0px;">&nbsp;&nbsp;Price</div>
	    <div style="display: table-cell; width: 250px; padding: 5px 0px;">&nbsp;&nbsp;Sale Price</div>
	    <div style="display: table-cell; text-align:center; width: 30px;">&nbsp;</div>
	  </div>
	  <div style="display: table-row; text-align:left;">
	    <div style="display: table-cell; width: 250px; padding: 5px 0px;">&nbsp;</div>
	    <div style="display: table-cell; width: 250px; padding: 5px 0px;">&nbsp;</div>
	    <div style="display: table-cell; width: 250px; padding: 5px 0px;">&nbsp;</div>
	    <div style="display: table-cell; text-align:center; width: 30px;">&nbsp;<button id='plus'>+</button></div>
	</div>
    </fieldset>
    <br />
   <label for="p_is_available">Available:</label>
   <input id="p_is_available" type="checkbox" checked>
  </form>
  <div id="p_thumbs"></div>
</div>

<div id="dialog-view" title="View Product" style="display: none;">
  <pre id="view_dialog"></pre>
</div>

</div><!--end content-->
</body>
<!-- {{ SERVER_ADDR }}({{ pid }}):{{ SERVER_PORT }} -->
</html>
