<!DOCTYPE html >
<html lang="en">
<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>Delete Design Components</title>

<link type="text/css" href="{{ jquery_ui_css }}" rel="stylesheet" />
<link type="text/css" href="/css/support.css" rel="stylesheet" />

<script type="text/javascript" src="{{ jquery }}"></script>
<script type="text/javascript" src="{{ jquery_ui }}"></script>
<script type="text/javascript" src="{{ jquery_json }}"></script>
<script type="text/javascript" src="/js/jsrender.js"></script>
<script type="text/javascript" src="/js/Dialogs.js"></script>
<script type="text/javascript" src="/js/Utility.js"></script>

{% raw %}
<script id="pds_success_tmpl" type="text/x-jsrender">
  product_design(s) {{:pd_ids}}: success.  Orphaned page_layout_groups: {{:orph_plg_ids}}.<br /><br />
</script>

<script id="pds_error_tmpl" type="text/x-jsrender">
  <span style="color: red;">product_design(s) {{:pd_ids}}: error - {{:Error}}</span><br /><br />
</script>

<script id="pls_success_tmpl" type="text/x-jsrender">
  page_layout(s) {{:pl_ids}}: success.  Empty page_layout_groups: {{:empty_plg_ids}}.<br /><br />
</script>

<script id="pls_error_tmpl" type="text/x-jsrender">
  <span style="color: red;">page_layout(s) {{:pl_ids}}: error - {{:Error}}</span><br /><br />
</script>

<script id="plgs_success_tmpl" type="text/x-jsrender">
  page_layout_group(s) {{:plg_ids}}: success.<br /><br />
</script>

<script id="plgs_error_tmpl" type="text/x-jsrender">
  <span style="color: red;">page_layout_group(s) {{:plg_ids}}: error - {{:Error}}</span><br /><br />
</script>
{% endraw %}

<script type="text/javascript">

function ping() {
  DPAjax(
    "/s/ajax",
    { command: 'ping' },
    function (data) {},         // do nothing if successful
    function (data) {
      if (data.unavailable)
        jError(data.Error);
      else if (data.Error)
        window.location.replace('/s/login');
    }
  );
}

$(document).ready( function() {
  ping();

  $('#clear-button').button().on('click', function() {
    $('#results').empty();
  });

  $('#pds_delete-button').button().on('click', function() {
    DPAjax(
      "/s/ajax_product", {
	command: 'delete_product_designs',
	pd_ids: $('#pd_ids').val()
      },
      function (result) {
	$('#results').append($('#pds_success_tmpl').render(result));
	$('#pd_ids').val('');
      },
      function (result) {
	$('#results').append($('#pds_error_tmpl').render(result));
	$('#pd_ids').val('');
      }
    );
  });

  $('#pls_delete-button').button().on('click', function() {
    DPAjax(
      "/s/ajax_product", {
	command: 'delete_page_layouts',
	pl_ids: $('#pl_ids').val()
      },
      function (result) {
	$('#results').append($('#pls_success_tmpl').render(result));
	$('#pl_ids').val('');
      },
      function (result) {
	$('#results').append($('#pls_error_tmpl').render(result));
	$('#pl_ids').val('');
      }
    );
  });

  $('#plgs_delete-button').button().on('click', function() {
    DPAjax(
      "/s/ajax_product", {
	command: 'delete_page_layout_groups',
	plg_ids: $('#plg_ids').val()
      },
      function (result) {
	$('#results').append($('#plgs_success_tmpl').render(result));
	$('#plg_ids').val('');
      },
      function (result) {
	$('#results').append($('#plgs_error_tmpl').render(result));
	$('#plg_ids').val('');
      }
    );
  });

  $(window).unload(function() {});
});


</script>
</head>

<body>

<div class="logo-header">
  <div class="support">SUPPORT</div>
  <img src="/i/support/logo.png" class="logo">
</div><!--end logo-header-->

<div class="content">

  <div class="content-header">
    <div class="content-header-h1">Delete Product-Designs</div>
    <div class="content-header-btn"><input type="button" id="done" value="Back" onClick="history.back();return false;" /></div>
  </div>

  <div align="center">
    <button id="clear-button">Clear Logs</button><br />
    product_design_ids (comma-separated):<input type="text" id="pd_ids" /><button id="pds_delete-button">Delete</button><br />
    page_layout_ids (comma-separated):<input type="text" id="pl_ids" /><button id="pls_delete-button">Delete</button><br />
    page_layout_group_ids (comma-separated):<input type="text" id="plg_ids" /><button id="plgs_delete-button">Delete</button><br />
  </div>

  <div id="results" />

</div><!--end content-->
</body>
<!-- {{ SERVER_ADDR }}({{ pid }}):{{ SERVER_PORT }} -->
</html>

